.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clear {
  clear: both;
  content: ""
}

.game {
  max-width: 376px;
  margin: 0 auto;
  padding: 20px;
  background: #1abc9c;
  margin-top: 15vh;
}

.board {
}

.game-info {
  min-height: 50px;
  margin-bottom: 10px;
  background: transparent;
  padding: 7px;
  text-align: center;
  color: #fff;
}

.cell {
  background: #fff;
  border: 1px solid #1abc9c;
  border-radius: 4px;
  float: left;
  line-height: 34px;
  height: 45px;
  text-align: center;
  width: 45px;
  cursor: pointer;
}

.cell:focus {
  outline: none;
}

.hidden {
  background: #2c3e50;
}

.is-flag,
.is-mine {
  color: #fc543c;
}