.body {
  font-family: 'Ubuntu';
}

.clear {
  clear: both;
  content: ""
}

.game {
  max-width: 376px;
  margin: 0 auto;
  padding: 20px;
  background: #1abc9c;
  margin-top: 15vh;
  border-radius: 5px;
}

.game-info {
  min-height: 50px;
  margin-bottom: 10px;
  background: transparent;
  padding: 7px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 20px;
}

.cell {
  background: #fff;
  border: 1px solid #1abc9c;
  border-radius: 4px;
  float: left;
  line-height: 45px;
  height: 45px;
  text-align: center;
  width: 45px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.cell:focus {
  outline: none;
}

.hidden {
  background: #2c3e50;
}

.is-flag,
.is-mine {
  color: #fc543c;
}